.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
    padding-top: 195px;
    margin: 0 auto;
    display: none;
    
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .popup{
     padding: 123px 19px 0 19px;
     
    }
}