.popup__input-container {
    display: flex;
    flex-direction: column;
    margin: 54px 36px 0 36px;
    border: 0;
}

@media screen and (max-width: 768px) {
    .popup__input-container{
     margin: 0 auto;
     padding-top: 75px;
    }
}