.elements__btn {
    background-image: url(../../../images/like-btn.svg);
    background-size: cover;
    width: 22px;
    height: 19px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-right: 30px;
}