.profile__add-button {
    width: 150px;
    min-height: 50px;
    cursor: pointer;
    background: transparent;
    margin-left: auto;
    border-radius: 2px;
    padding: 0;
    border: none;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
      width: 100%;
      
    }
}

@media screen and (max-width: 320px) {
    .profile__button-img {
      width: 100%;
      
    }
}