.profile__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .profile__text {
      max-width: 282px;
      font-size: 14px;
      line-height: 17px;
    }
}
