.popup__form {
    width: 100%;
    max-width: 282px;
    background-color: white;
    color: black;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 520px) {
    .popup__form {
        max-width: 430px;
    }
}