.popup__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    font-style: normal;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}

@media screen and (max-width: 525px) {
    .popup__title{
     font-size: 18px;
     line-height: 22px;
    
    }
}